{{ define "title" }}
  {{ .Title }} - {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <h2>{{ .Title }}</h2>
  {{ if eq .Title "Tags" }}
    <ul class="list-post">
      {{ range .Pages.ByTitle }}
        <li class="list-item">
          <span class="icon-tag"></span>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <div>
            <span class="icon-calendar"></span><time>{{ .Date.Format "2006-01-02" }}</time>
          </div>
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <ul class="list-post">
    {{ range .Pages }}
      <li class="list-item">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <div>
          <span class="icon-calendar"></span><time>{{ .Date.Format "2006-01-02" }}</time>
        </div>
      </li>
    {{ end }}
    </ul>
  {{ end }}
{{ end }}
