{{ define "head" }}
  {{ partial "firacode" . }}
  {{ partial "katex" . }}
{{ end }}

{{ define "title" }}
  {{ .Title }} - {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <time>{{ .Date.Format "2006-01-02 15:04:05" }}</time> |
  {{ if .Site.Params.showsource }}
  <a href="{{ .Site.Params.contenturl }}{{ .File.Path }}" target="_blank" rel="noopener noreferrer" class="history">History</a> |
  {{ end }}
  {{ range (.GetTerms "tags") }}
    <a href="{{ .Permalink }}" class="tags">{{ .LinkTitle }}</a>
  {{ end }}
  <h1 class="post-title">{{ .Title }}</h1>
  {{ partial "toc" . }}
  <article class="post-content">
    {{ .Content | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" "${1}&nbsp;<a class=\"headline-hash\" href=\"#${2}\">#</a> ${3}" | safeHTML }}
  </article>
  {{ if .Params.comments }}
    {{ partial "comments" . }}
  {{ end }}
{{ end }}
