code {
  display: inline-block;
  font-family: 'Fira Code', monospace;
  font-size: 0.9rem;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

/*inline code*/
p > code {
  background-color: #353535;
}

pre {
  overflow: auto;
}