code {
  display: inline-block;
  font-family: 'Fira Code', monospace;
  font-size: 0.9rem;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.post-content > pre {
  color: #f8f8f2;
  background-color: #272822;
  border-radius: 5px;
  overflow: auto;
}

/*inline code*/
p > code {
  background-color: #353535;
}

/* syntaxhighlight */
.highlight > pre {
  border-radius: 5px;
  overflow: auto;
}