article {
  line-height: 1.5;
}

.history {
  font-size: small;
}

.tags {
  font-size: small;
}

.post-meta {
  margin-bottom: 1rem;
}

.post-title {
  margin: auto;
  margin-top: 1rem;
}

.post-content a, .post-meta a {
  border-bottom: 0.07rem solid;
}

.post-content a:hover, .post-meta a:hover {
  border-bottom: solid;
}

.post-content a.headline-hash {
  color: #7f7f7f;
  border-bottom: none;
  display: none;
}

.post-content h1:hover a.headline-hash {
  display: inline;
}

.post-content h2:hover a.headline-hash {
  display: inline;
}

.post-content h3:hover a.headline-hash {
  display: inline;
}