article {
  line-height: 1.5;
}

/* history */
.history {
  font-size: small;
  font-style: italic;
}

/* tags */
.tags {
  font-size: small;
}

/* post title */
.post-title {
  margin: auto;
  padding-bottom: 1rem;
}

/* post a tag */
.post-content a {
  border-bottom: 0.07rem solid;
}

.post-content a:hover {
  border-bottom: solid;
}

.post-content a.headline-hash {
  color: #7f7f7f;
  border-bottom: none;
}