body {
  background-color: #171717;
  color: #cccccc;
  font-family: system-ui,sans-serif;
  word-break: break-word;
}

.center {
  text-align: center;
}

.inner {
  flex: 1;
}

.outer {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  min-height: 98vh;
  width: 700px;
}

@media screen and (max-width: 700px) {
  .outer {
    width: 100%;
  }
}