body {
  background-color: #171717;
  color: #cccccc;
  font-family: system-ui,sans-serif;
  word-break: break-word;
}

.center {
  text-align: center;
}

.outer {
  width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .outer {
    width: 100%;
  }
}