.post-content > table {
  border-collapse: collapse;
}

.post-content > table > thead > tr > th, .post-content > table > tbody > tr > td {
  border: 1px solid;
  border-color: #4d4d4d;
  padding: 10px;
}

.post-content > table > thead > tr > th {
  background-color: #3d3d3d;
}