a {
  color: lightskyblue;
  text-decoration: none;
  border-bottom: none;
}

a:hover {
  border-bottom: solid;
}/* firacode */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);code {
  background-color: #22272e;
  color: #adbac7;
  display: inline-block;
  font-family: 'Fira Code', monospace;
  padding-left: 5px;
  padding-right: 5px;
}.footer-text {
  font-size: small;
  margin-bottom: 2rem;
}

.footer-text > a {
  color: white;
  border-bottom: solid 1px;
}/* top title*/
.title {
  color: white;
  text-decoration: none;
}

/* header menu */
.header-menu {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}/* hilightjs-line-numbers */
.hljs-ln {
  margin-bottom: 0;
  border: none;
}
 
.hljs-ln tr, .hljs-ln td {
  border: none;
}

.hljs-ln-n {
  padding-right: 1rem;
}hr {
  border: none;
  border-top: 1px solid;
  color: #4d4d4d;
}

/* out hr */
.outhr {
  border-top: 2px double;
  color: #cccccc;
  margin: 2rem auto;
}img {
  max-width: 100%;
}li ul {
  margin: 0 0 0 1em;
  padding: 0;
  }/* mobile */
@media screen and (max-width: 600px) {
  .outer {
    width: 100%;
  }
}article {
  line-height: 1.5;
}

/* tags */
.tags {
  font-size: small;
}

/* post title */
.post-title {
  margin: auto;
  padding-bottom: 1rem;
}/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #183563;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2755a1;
}

::-webkit-scrollbar-track {
  background-color: #22272e;
}body {
  background-color: #171717;
  color: #cccccc;
  font-family: system-ui,sans-serif;
  word-break: break-word;
}

.center {
  text-align: center;
}

.outer {
  width: 600px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

th,td {
  border: 1px solid;
  padding: 10px;
}

th {
  background-color: #3d3d3d;
}time {
  font-style: italic;
  font-size: small;
}