<style>
  @font-face {
    font-family: 'icomoon';
    src:  url('{{ .Site.BaseURL }}font/icomoon/icomoon.eot?260upn');
    src:  url('{{ .Site.BaseURL }}font/icomoon/icomoon.eot?260upn#iefix') format('embedded-opentype'),
      url('{{ .Site.BaseURL }}font/icomoon/icomoon.ttf?260upn') format('truetype'),
      url('{{ .Site.BaseURL }}font/icomoon/icomoon.woff?260upn') format('woff'),
      url('{{ .Site.BaseURL }}font/icomoon/icomoon.svg?260upn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-tag:before {
    content: "\e901";
  }
  .icon-calendar:before {
    content: "\e900";
  }
</style>