{{ define "head" }}
  {{ if os.FileExists "content/_index.md" }}
    {{ partial "firacode" . }}
    {{ partial "katex" . }}
  {{ end }}
{{ end }}

{{ define "main" }}
{{ if os.FileExists "content/_index.md" }}
    <article>
      {{ .Content }}
    </article>
  {{ else }}
    {{ range .Site.RegularPages }}
      {{ if in .Permalink "posts" }}
        <p><a href="{{ .Permalink }}">{{ .Title }}</a> -
        <time>{{ .Date.Format "2006-01-02" }}</time></p>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
